<div class="container mt-5">
    <h2 class="text-center">Registration</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>National Delegate</th>
          <th>International Delegate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Delegates from Academia/Institutes</td>
          <td>Rs. 8000 + 18% GST</td>
          <td>US$ 250</td>
        </tr>
        <tr>
          <td>Delegates from Industries</td>
          <td>Rs. 9000 + 18% GST</td>
          <td>US$ 300</td>
        </tr>
        <tr>
          <td>Research Scholars and Students</td>
          <td>Rs. 5000 + 18% GST</td>
          <td>US$ 200</td>
        </tr>
        <tr>
          <td>Conference Participation without Publication and KIT</td>
          <td>Rs. 2000 + 18% GST</td>
          <td>US$ 150</td>
        </tr>
        <tr>
          <td>Spouse/Accompanying person/co-authors (Without KIT)</td>
          <td>Rs. 3000 + 18% GST</td>
          <td>US$ 180</td>
        </tr>
      </tbody>
    </table>
  </div>
  