footer {
    background-color: #1E90FF;
    color: white;
  }
  
  footer a {
    color: white;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #ffcc00;
  }
  
  .contact-item {
    margin-bottom: 1rem;
   
  }
  
  h5 {
    margin-bottom: 1.5rem;
  }
  
  ul {
    padding-left: 0;
  }
  
  ul li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  