

.nav-item{
    margin-right: 20px;
}


.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: black;
  transition: color 0.3s ease-in-out;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: blue;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
}

.nav-link:hover {
  color: blue;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: blue;
}


/* Enable dropdown on hover */
.navbar-nav .dropdown:hover>.dropdown-menu {
  display: block;
  animation: fadeIn 0.3s;
}

/* Animation for dropdown */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styling to make the dropdown smooth */
.navbar-nav .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
}
