.about-wrapper {
    display: flex;
    align-items: center;
  }
  
  .about-container {
    width: 70vw;
    // min-width: 200px;
    height: 300px;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .watermark-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; /* Adjust the size of the logo */
    height: 100px; /* Adjust the size of the logo */
    // background-image: url('/images/icafft-logo.png'); 
    background-position: center;
    opacity: 9; /* Adjust the opacity for watermark effect */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Make the logo not interfere with text selection */
  }
  
  .about-content {
    position: relative;
    z-index: 1; /* Ensure text is above the watermark */
  }
  
  .about-content h2 {
    margin-top: 0;
  }
  
  .about-content p {
    margin-bottom: 15px;
  }
  

  .about-content:first-letter {
    // padding-left: 50px
}


.heading {
  margin-top: 0;
  font-size: 24px;
  color: #1E90FF;
  animation: fadeIn 2s ease-in-out;
  border-bottom: 1px solid red;
}



.news-events-wrapper {
    width: 500px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .news-events-container {
    position: relative;
    overflow: hidden;
    height: 260px; /* Adjust based on the number of visible items */
  }
  
 
  
  .ticker-wrap {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .ticker {
    display: flex;
    flex-direction: column;
    color:rgb(241, 83, 83);
    animation: tickerMove 20s linear infinite;
  }
  
  .ticker-item {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
  }


  .section-header {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1E90FF; /* DodgerBlue */
    text-align: center;
    border-bottom: 2px solid #1E90FF; /* DodgerBlue */
    padding-bottom: 5px;
    background: linear-gradient(90deg, #87CEFA 0%, #1E90FF 50%, #87CEEB 100%); /* Gradient with LightSkyBlue, DodgerBlue, and SkyBlue */
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 5s ease infinite;
  }
  

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  @keyframes tickerMove {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .about-wrapper {
    display: block;
    align-items: center;
  }

  .about-container {
    width: 100vw;
    // min-width: 200px;
    height: 450px;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

}
  





