<div class="about-wrapper mt-3 mb-4 justify-content-center">
    <div class="about-container">
        <div class="watermark-logo"></div>
        <div class="about-content">
            <div class="heading">
                <h2 class="">About Department of Foundry and Forge Technology</h2>
            </div>
            
            <p class="about-content mt-3">
                The Foundry and Forge Department independently came into existence in 1966 at the time of inception of the Institute. The department offers Advanced Diploma Course and M. Tech courses in Foundry and Forge Technology. In 2022, they merged and started B. Tech course in Production and Industrial Engineering with honours in Foundry and Forge Technology.

            </p>
        </div>
    </div>
    <!-- <div class="news-events-wrapper">
        <div class="news-events-container">
          <h2 class="section-header">News and Events</h2>
          <div class="ticker-wrap">
            <div class="ticker">
              <div class="ticker-item">Abstraction Submission Starts - 15<sup>th</sup> June 2024</div>
              <div class="ticker-item">Manuscript Submission Starts - 15<sup>th</sup> August 2024</div>
              <div class="ticker-item">Manuscript Submission Starts - 01<sup>st</sup> July 2024</div>
              <div class="ticker-item">Manuscript Submission End - 30<sup>th</sup> August 2024</div>
              <div class="ticker-item">Early Bird Registration - 5<sup>th</sup> August 2024</div>
              <div class="ticker-item"> Registration Deadline - 30<sup>st</sup> September 2024</div>
              <div class="ticker-item">Conference Dates -  18-19<sup>th</sup> November 20244</div>

            </div>
          </div>
        </div>
      </div> -->
</div>







  