<div class="container-fluid">
    <div class="top-band">

    </div>
    <div class="row align-items-center" >
      <img src="assets/images/top-header.png" class="top-heading" alt="Left Logo">
      <!-- <div class="col-2 text-center">
        <img src="assets/logo/iilogo.png" class="img-fluid rounded-circle logo" alt="Left Logo">
      </div>
      <div class="col-8 text-center">
        <div class="header-text">
          <h1 class="title-blue">International Conference </h1>
          <h1 class="title-blue">on</h1>
          <h2 class="title-red">Advances in Foundry and Forming Technology</h2>
          <h1  class="title-date mb-2">18 & 19 November, 2024</h1>
        </div>
      </div>
      <div class="col-2 text-center">
        <img src="assets/logo/niamtlogonew.png" class="img-fluid rounded-circle logo" alt="Right Logo">
      </div> -->
    </div>
  </div>