<div class="about-wrapper mt-2">
    <div class="about-container">
        <div class="watermark-logo"></div>
        <div class="about-content">
            <div class="heading">
                <h2 class="">About The Institution of Engineers (India)</h2>
            </div>
            
            <p class="about-content mt-3">
                The Institution of Engineers (India) or IEI is the largest multidisciplinary professional body that encompasses 15 engineering disciplines and gives engineers a global platform for sharing professional interests. IEI has membership strength of above 0.8 million. Established in 1920, with its headquarters at 8 Gokhale Road, Kolkata-700020, IEI has served the engineering fraternity for close to a century. During this period of time, IEI has been inextricably linked with the history of modern-day engineering.
            </p>
            <p>
                In 1935, IEI was incorporated by Royal Charter and remains the only professional body in India which has been accorded this honour. Today, its quest for professional excellence has given it a place of pride in almost every prestigious and relevant organization across the globe. It provides a vast array of technical, professional and supporting services to the Government, Industries, Academia and the Engineering fraternity, operating through its 125 Centres located across the country and 6 overseas chapters. Besides, IEI has bilateral agreements with about 31 international bodies and membership of another 8 international bodies of the developed nations across the globe.
            </p>
            <p>
                Being recognized as a Scientific and Industrial Research Organisation (SIRO) by the Department of Scientific and Industrial Research, Ministry of Science and Technology, Government of India, IEI promotes the cause of research and development by providing Grant-in-Aid support to undergraduate, post graduate students and PhD Research Scholars of Engineering Institutions and Universities.
            </p>
            <p>
                IEI has been recognized as a Scientific and Industrial Research Organization (SIRO) by the Ministry of Science & Technology, Government of India and besides conducting its own research, provides Grant-in-Aid to UG/PG/PhD students of Engineering institutes and Universities.
            </p>
            <p>
                IEI holds the International Professional Engineers (IntPE) Register for India under the global International Professional Engineers Alliance (IntPEA). The institution also awards the Professional Engineers (PE) Certification.
            </p>
            <p>
                IEI in collaboration with Springer regularly publishes peer-reviewed international journals in five series, namely, Series A, Series B, Series C, Series D and Series E covering fifteen engineering disciplines.
            </p>
        </div>
    </div>
</div>