<div class="container mt-5">
    <div class="header-title text-center mb-5">
      Call for Papers
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content-section">
          <h4>Submission Guidelines</h4>
     <p>All interested participants are invited to contribute technical/research papers and case studies detailing concepts, innovations, ideas, or practical experiences for oral and poster presentations. Abstracts are invited of approximately 200 words and should preferably be within 300 words in the format provided by the conference committee. </p>

     <p>Please refer website for further details. At least one of the authors must register and present the paper at the conference for it to be published. For More Information, Please Visit Website www.niamt.ac.in</p>
          <h4>Important Dates</h4>
          <ul>
            <div class="">Abstraction Submission Starts - 15<sup>th</sup> June 2024</div>
            <div class="">Manuscript Submission Starts - 15<sup>th</sup> August 2024</div>
            <div class="">Manuscript Submission Starts - 01<sup>st</sup> July 2024</div>
            <div class="">Manuscript Submission End - 30<sup>th</sup> August 2024</div>
            <div class="">Early Bird Registration - 5<sup>th</sup> August 2024</div>
            <div class=""> Registration Deadline - 30<sup>st</sup> September 2024</div>
            <div class="">Conference Dates -  18-19<sup>th</sup> November 20244</div>
          </ul>
      
        </div>
      </div>
    </div>
  </div>
  