<div class="container-fluid">

  <div class="header-title">
   Committee
  </div>



  <!-- Conference Committee -->
  <div class="about-wrapper mt-2 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Conference Committee</h2>
        </div>
        <p class="about-content mt-3">
          Chief Patron: Shri Sham H. Arjunwadkar, Chairman, BoG
        </p>
        <p>
          Patron: Dr. P. P. Chattopadhyay, Director, NIAMT, Ranchi
        </p>
        <p>
          Dr. G. Ranganath, President, IEI
        </p>
        <p>
          Chairman: Dr. K. K. Singh, HoD, Dept. of Foundry and Forge Technology
        </p>
        <p>
          Er. M. K. Gupta, Chairman, IEI, JSC

        </p>
        <p>
          Org. Secretary: Dr. Manoj Kumar, NIAMT, Ranchi | Email: icafft2024@niamt.ac.in

        </p>
        <p>
          Er. Harun Ansari, Honorary Secretary, IEI, JSC
        </p>
        <p>
          Er. Manda Rajananda Kumar, IEI, JSC, MCDB | Mob.: 7013806680

        </p>
        <p>
          Convenor: Dr. Vineet Chak, NIAMT, Ranchi

        </p>
        <p>
          Dr. Himanshu Khandelwal, NIAMT, Ranchi
        </p>
      </div>
    </div>
  </div>
  <!-- International Advisory Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">International Advisory Committee</h2>
        </div>
        <p class="about-content mt-3">
          Prof. Rajesh Ransing, Swansea University
        </p>
        <p>Prof. Shiva Rudraraju, University of Wisconsin</p>
        <p>Dr. Sanjay Kumar Thakur, Director, STATS ChipPAC Ltd, Singapore</p>
        <p>Dr. Rajiv Shivpuri, Professor, The Ohio State University</p>
        <p>Mr. Thomas Prucha, Editor In Chief, International Journal of Metal Casting</p>
        <p>Prof. Claire Davis, University of Warwick</p>
        <p>Prof. Martin Strangwood, University of Birmingham</p>
        <p>Dr. Sam Ramrattan, Professor, Western Michigan University</p>
        <p>Er. Subrat Mishra, CEO, Danieli Corus Pvt Ltd, India</p>

      </div>
    </div>
  </div>
  <!-- National Advisory Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">National Advisory Committee</h2>
        </div>
        <p class="about-content mt-3">
          Shri Nilendu Kumar Singh, CMD, Central Coalfields Limited
        </p>
        <p>Er. Sanjay Kumar Verma, CMD, MECON Ltd</p>
        <p>Prof. lndranil Manna, Vice Chancellor, BIT Mesra</p>
        <p>Er. Sanjay Kumar Yadav, Chairman, MCDB, IEI</p>
        <p>Dr. Pradeep Goyal, Managing Director, Pradeep Metals Ltd</p>
        <p>Dr. M. K. Tiwari, Director, lIM Mumbai</p>
        <p>Dr. B. Ravi, Director, NIT Suratkal</p>
        <p>Dr. G. Sutradhar, Director, NIT Jamshedpur</p>
        <p>Er. M. K. Gupta, Chairman, IEI, JSC</p>
        <p>Er. Sanjay Sen, Council Member, IEI</p>
        <p>Mr. Nirbhik Banerjee, ED, RDCIS, SAIL</p>
        <p>Dr. Nagahanumaiah, Director CMTI, Bangalore</p>
        <p>Dr. D. Ravi Kumar, Professor, IIT Delhi</p>
        <p>Mr. Deepak Chaudhary, Director, MPM Group</p>
        <p>Mr. G. S. Agarwal, Chairman, Century Metal Recycling Ltd</p>
        <p>Prof. B.S. Murty, Director, lIT Hyderabad</p>
        <p>IISC, Bangaluru Mr. Brijesh Kumar Agarwal, President. Forging Association</p>
        <p>Mr. M.D. Jalan, Managing Director, Rama Krishna Forging Ltd.</p>
        <p>Dr. Sudip Kumar Samanta, Head Foundry Division, CSIR-CMERI, Durgapur</p>
        <p>Dr. D. K. Singh, JUT, DST Member (Secretary)</p>
        <p>Dr. Himadri Chattopadhyay,Professor, Jadavpur University</p>
        <p>Prof. Satyam Suwas, Chair Professor , Department of Materials Engineering,</p>
      </div>
    </div>
  </div>
  <!-- Alumni Advisory Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Alumni Advisory Committee</h2>
        </div>
        <p class="about-content mt-3">
          Mr. Kanchan Chaudhary, CEO, RKFL
        </p>
        <p>Mr. TVR Venkat, Ashoka Iron, Belgaum, CEO</p>
        <p>Mr. Satyanarayana V N, Vice President OEM Sales and Services, DISA India</p>
        <p>Mr. Amit Sinha, PPC Head, JSW Steel</p>
        <p>Mr. Abhik Chatterjee, MD, Boston Consulting Group (BCG)</p>
        <p>Mr. Jitendra Kumar. MD, Alt Roncast, IMT, Manesar</p>
        <p>Mr. Nerusu Venkateswara Rao, CEO & Co-Founder, Altek Metal Casters</p>
        <p>Mr. I. D. Singh, KEMS Forging</p>
        <p>Mr. Ranjan Dey, GM, Srinathji Ispat Limited</p>
        <p>Mr. P. P. Das, GM, Danieli Corus B. V.</p>
        <p>Dr. Vijay Subramanian, Head, KPMG, US</p>
      </div>
    </div>
  </div>

  <!-- Financial Management Committee -->

  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Financial Management Committee
          </h2>
        </div>
        <p class="about-content mt-3">
          Chairman: Dr Ajit Kumar Parmanick
        </p>
        <p>Co-Chairman: Mr. M. I. Alam, Past Chairman, IEI</p>
        <p>JSC Treasurer: Dr. Deepak Kumar</p>
        Member:
        <p> Dr. Sunny Singhania</p>
        <p>Dr. Anas Ahmad Siddiqui </p>
        <p>Er. Priyam Mitra, Member, IEI, JSC (MCDB)</p>
      </div>
    </div>
  </div>

  <!-- Technical Publication Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Technical Publication Committee
          </h2>
        </div>
        <p class="about-content mt-3">
          Chairman: Dr. N. K. Singh
        </p>
        Member:
        <p> Dr. Deepak Kumar</p>
        <p>Dr. Vivek S. Ayar</p>
        <p>Dr. Himanshu Khandelwal</p>
        <p>Dr. Pavitra Singh</p>
        <p>Dr. G. M. Chowdhury, IEI, JSC Mr. S. Behera</p>
        <p>Secretary: Dr. Rahul Ramesh Kulkarni</p>
      </div>
    </div>
  </div>

  <!-- Hospitality & Transport Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Hospitality & Transport Committee
          </h2>
        </div>
        <p class="about-content mt-3">
          Chairman: Dr. Nandita Gupta
        </p>
        <p>Secretary: Dr. Vineet Chak</p>
        Member: 
        <p>Dr. Vivek S. Ayar </p>
        <p>Dr. E. Hemachandran</p>
        <p> Dr. Pavitra Singh</p>
        <p>Dr. Sunny Singhania </p>
        <p> Mr. Chandan Kumar</p>
        <p>Mr. Firoz Ahmad </p>
        <p>Mr. Pran Kumar</p>
        <p>Er. S. K. Bhagat, Member, IEI, JSC (MCDB)</p>
       

      </div>
    </div>
  </div>


  <!-- Media Management & Communication Committee -->
  <div class="about-wrapper mt-4 justify-content-center">
    <div class="about-container">
      <div class="watermark-logo"></div>
      <div class="about-content">
        <div class="heading">
          <h2 class="">Media Management & Communication Committee
          </h2>
        </div>
        <p class="about-content mt-3">
          Chairman: Dr. Rajkumar Ohdar
        </p>
        <p>Secretary: Dr. Himanshu Khandelwal</p>
        Member: 
        <p>Dr. Vivek S. Ayar</p>
        <p>Dr. Anas Ahmad Siddiqui</p>
        <p>Dr. Pavitra Singh</p>
        <p>Dr. R. Upadhyay</p>
        <p>Mr. Rahul Kumar</p>
        <p>Mr. M. Mukhiyar</p>
        

      </div>
    </div>
  </div>


</div>