.about-wrapper {
    display: flex;
    align-items: center;
  }
  
  .about-container {
    width: 70vw;
    // min-width: 200px;
    height: 300px;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .watermark-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; /* Adjust the size of the logo */
    height: 100px; /* Adjust the size of the logo */
    background-image: url('/src/assets/images/icafft-logo.png'); /* Replace with your logo path */
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Adjust the opacity for watermark effect */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Make the logo not interfere with text selection */
  }
  
  .about-content {
    position: relative;
    z-index: 1; /* Ensure text is above the watermark */
  }
  
  .about-content h2 {
    margin-top: 0;
  }
  
  .about-content p {
    margin-bottom: 15px;
  }
  
  .side-image img {
    height: 350px;
    width: 400px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .about-content:first-letter {
    // padding-left: 50px
}
  