<div class="about-wrapper mt-2 mb-2 justify-content-center">
    <div class="about-container">
        <div class="watermark-logo"></div>
        <div class="about-content">
            <div class="heading">
                <h2 class="">About NIAMT, Ranchi</h2>
            </div>
            
            <p class="about-content mt-3">
                “Established in 1966 by Govt. of India and UNDP-UNESCO,
                National Institute of Foundry and Forge Technology
                (NIFFT) is a society for providing quality manpower in
                manufacturing technology. It is governed by a board of
                governors with representatives from various sectors.
                Recently, has been renamed as National Institute of
                Advanced Manufacturing Technology (NIAMT).
            </p>
            <p>
                NIAMT is a
                leading institute for teaching, training, research,
                consultancy, and information services in manufacturing
                and related elds. It aims to achieve excellence in technical education and disseminate state-of-the
                art knowledge and expertise in the eld.” For more information please visit: www.niamt.ac.in
            </p>
        </div>
    </div>
    <div class="side-image">
        <img src="assets/images/main-building.png" alt="Side Image">
    </div>
</div>