<div class="about-wrapper mt-2 mb-4 justify-content-center">
    <div class="about-container">
        <div class="watermark-logo"></div>
        <div class="about-content">
            <div class="heading">
                <h2 class="">Account Details</h2>
            </div>
            
            <p class="about-content mt-3">
                Account Name : <strong>NIAMT IRG FUND ACCOUNT</strong>
            </p>
            <p>
                Account No. : <strong>2730101006939</strong>
            </p>
            <p>
                Branch : <strong>CANARA BANT, NIFFT Ranchi</strong>
            </p>
            <p>
                IFSC : <strong>CNRB0002730</strong>
            </p>
        </div>
    </div>
</div>